{:highlights [{:id #uuid "65f3b2b3-a705-4524-9f40-eea2ab43a075",
               :page 34,
               :position {:bounding {:x1 364.125,
                                     :y1 627.203125,
                                     :x2 1140.5126953125,
                                     :y2 814.671875,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 364.125,
                                   :y1 627.203125,
                                   :x2 1104.402099609375,
                                   :y2 652.203125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 364.125,
                                   :y1 654.3125,
                                   :x2 1140.5126953125,
                                   :y2 679.3125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 364.125,
                                   :y1 681.421875,
                                   :x2 1114.69580078125,
                                   :y2 706.421875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 364.125,
                                   :y1 708.34375,
                                   :x2 1087.876220703125,
                                   :y2 733.34375,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 364.125,
                                   :y1 735.453125,
                                   :x2 1079.1654052734375,
                                   :y2 760.453125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 364.125,
                                   :y1 762.5625,
                                   :x2 1131.5,
                                   :y2 787.5625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 364.125,
                                   :y1 789.671875,
                                   :x2 431.80322265625,
                                   :y2 814.671875,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 34},
               :content {:text "In the late nineteenth and early twentieth centuries, the “neuron doctrine” speciﬁed that living cells called “neurons” together with their interconnections were fundamental to what the brain does. One of the people responsible for this suggestion was the Spanish neuroanatomist Santiago Ram´on y Cajal(1852–1934). Cajal (Fig. 2.5) and Camillo Golgi won the Nobel Prize in Physiology or Medicine in 1906 for their work on the structure of the nervous system"},
               :properties {:color "green"}}
              {:id #uuid "65f3b3d8-6426-4785-81e4-18f00959bdeb",
               :page 36,
               :position {:bounding {:x1 299.875,
                                     :y1 738.375,
                                     :x2 941.533447265625,
                                     :y2 781.546875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 395.8875732421875,
                                   :y1 738.375,
                                   :x2 941.533447265625,
                                   :y2 759.375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 299.875,
                                   :y1 760.546875,
                                   :x2 537.8854370117188,
                                   :y2 781.546875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 36},
               :content {:text "Two neurons. (Adapted from Science, Vol. 316, p. 1416, 8 June2007. Used with permission.)"},
               :properties {:color "green"}}
              {:id #uuid "65f9a01b-7f36-4960-8627-6bb9200add83",
               :page 34,
               :position {:bounding {:x1 342.703125,
                                     :y1 1285.125,
                                     :x2 1062.408203125,
                                     :y2 1360.15625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 385.265625,
                                   :y1 1285.125,
                                   :x2 1059.1002197265625,
                                   :y2 1309.125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 1310.640625,
                                   :x2 1062.408203125,
                                   :y2 1334.640625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 1336.15625,
                                   :x2 579.18359375,
                                   :y2 1360.15625,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 34},
               :content {:text "In 1943, the American neurophysiologist Warren McCulloch (1899–1969; Fig. 2.7) and logician Walter Pitts (1923–1969) claimed that the neuron was, in essence, a “logic unit.”"},
               :properties {:color "yellow"}}
              {:id #uuid "65f9c795-f629-4d49-b361-f0045c056aac",
               :page 36,
               :position {:bounding {:x1 342.703125,
                                     :y1 1229.875,
                                     :x2 1075.63916015625,
                                     :y2 1355.75,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 385.265625,
                                   :y1 1229.875,
                                   :x2 1040.421142578125,
                                   :y2 1253.875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 1255.390625,
                                   :x2 1064.3543701171875,
                                   :y2 1279.390625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 1280.90625,
                                   :x2 1032.7427978515625,
                                   :y2 1304.90625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 1306.40625,
                                   :x2 1075.63916015625,
                                   :y2 1330.40625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 1331.75,
                                   :x2 1036.4664306640625,
                                   :y2 1355.75,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 36},
               :content {:text "Hebb also postulated that groups of neurons that tend to ﬁre together formed what he called cell assemblies. Hebb thought that the phenomenon of“ﬁring together” tended to persist in the brain and was the brain’s way of representing the perceptual event that led to a cell-assembly’s formation. Hebb said that “thinking” was the sequential activation of sets of cell assemblies"},
               :properties {:color "purple"}}
              {:id #uuid "65f9cab4-d702-4e79-afdc-f5f3ca6e0711",
               :page 96,
               :position {:bounding {:x1 342.703125,
                                     :y1 542.375,
                                     :x2 1064.9775390625,
                                     :y2 668.4375,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 385.265625,
                                   :y1 542.375,
                                   :x2 1064.9775390625,
                                   :y2 566.375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 567.890625,
                                   :x2 1063.074951171875,
                                   :y2 591.890625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 593.40625,
                                   :x2 1018.863037109375,
                                   :y2 617.40625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 618.921875,
                                   :x2 1062.667236328125,
                                   :y2 642.921875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 342.703125,
                                   :y1 644.4375,
                                   :x2 393.5998840332031,
                                   :y2 668.4375,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 96},
               :content {:text "Rosenblatt deﬁned several types of perceptrons. He called the one shown in the diagram a “series-coupled, four-layer perceptron.” (Rosenblatt counted the inputs as the ﬁrst layer.) It was termed “series-coupled” because the output of each neural element fed forward to neural elements in a subsequent layer."},
               :properties {:color "blue"}}
              {:id #uuid "65f9ce88-4013-43f0-bb5f-07185324a004",
               :page 285,
               :position {:bounding {:x1 227.953125,
                                     :y1 984.203125,
                                     :x2 960.8858032226562,
                                     :y2 1110.265625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 270.515625,
                                   :y1 984.203125,
                                   :x2 843.3631591796875,
                                   :y2 1008.203125,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 227.953125,
                                   :y1 1009.71875,
                                   :x2 960.8858032226562,
                                   :y2 1033.71875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 762.59375,
                                   :y1 1033.875,
                                   :x2 775.21875,
                                   :y2 1049.875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 227.953125,
                                   :y1 1035.234375,
                                   :x2 762.3164672851562,
                                   :y2 1059.234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 781.515625,
                                   :y1 1035.234375,
                                   :x2 945.5757446289062,
                                   :y2 1059.234375,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 227.953125,
                                   :y1 1060.75,
                                   :x2 900.3562622070312,
                                   :y2 1084.75,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 227.953125,
                                   :y1 1086.265625,
                                   :x2 772.753173828125,
                                   :y2 1110.265625,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 285},
               :content {:text "We proposed to begin work on this problem by developing an environment in which an apprentice repair person would be given advice about how to take apart and reassemble a small air compressor.1 The advice would be generated (as needed by the apprentice) by a planning and execution system that would give suggestions about what to do next"},
               :properties {:color "yellow"}}],
 :extra {:page 60}}
