{:highlights [{:id #uuid "67ba16ae-bf39-45ae-954d-a6431d3119ce",
               :page 4,
               :position {:bounding {:x1 509.75,
                                     :y1 529.78125,
                                     :x2 927.91015625,
                                     :y2 676.75,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 717.5865478515625,
                                   :y1 529.78125,
                                   :x2 927.8411865234375,
                                   :y2 548.78125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 548.15625,
                                   :x2 927.833251953125,
                                   :y2 567.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 566.40625,
                                   :x2 927.8592529296875,
                                   :y2 585.40625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 584.640625,
                                   :x2 927.8515625,
                                   :y2 603.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 602.890625,
                                   :x2 927.905029296875,
                                   :y2 621.890625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 621.125,
                                   :x2 927.8740234375,
                                   :y2 640.125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 639.375,
                                   :x2 927.91015625,
                                   :y2 658.375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 657.75,
                                   :x2 763.876953125,
                                   :y2 676.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text " Gonz´alez et al. (2010) utiliza de algoritmos evolutivos e algoritmos gen´eticos para realizar este estudo que calcula a renda anual da venda de energia e´olica liquida baseada nas perdas e produ¸c˜ao individual de cada turbina presente no parque e´olico. Sendo tamb´em previsto o terreno de aplica¸c˜ao a dire¸c˜ao do vento, restri¸c˜ao de ´area de limita¸c˜oes na quantidade de turbinas e´olicas ou limita¸c˜ao de investimento aplicado"},
               :properties {:color "green"}}
              {:id #uuid "67ba16bb-391d-443d-8133-1fa9fbcabf09",
               :page 4,
               :position {:bounding {:x1 509.75,
                                     :y1 1024.671875,
                                     :x2 929.71875,
                                     :y2 1135.015625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 509.75,
                                   :y1 1024.671875,
                                   :x2 927.876220703125,
                                   :y2 1043.671875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 1042.90625,
                                   :x2 927.863037109375,
                                   :y2 1061.90625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 1061.15625,
                                   :x2 927.8236083984375,
                                   :y2 1080.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 1079.390625,
                                   :x2 929.71875,
                                   :y2 1098.390625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 1097.640625,
                                   :x2 927.8505859375,
                                   :y2 1116.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 509.75,
                                   :y1 1116.015625,
                                   :x2 595.623291015625,
                                   :y2 1135.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "O Design das p´as e´olicas para m´axima captura de energia e´olica ´e abordado pelo estudo de Kusiak and Song (2010). Sendo poss´ıvel ressaltar os algoritmos de otimiza¸c˜ao para analisar a velocidade do vento, a dire¸c˜ao do vento e a parametriza¸c˜ao das curvas para se obter um design admiss´ıvel. "},
               :properties {:color "green"}}],
 :extra {:page 4}}
