{:highlights [{:id #uuid "66085f15-125a-4bf2-8113-5769f69abe21",
               :page 22,
               :position {:bounding {:x1 191.515625,
                                     :y1 579.8125,
                                     :x2 945.322021484375,
                                     :y2 627.125,
                                     :width 1017.4079029333332,
                                     :height 1325.1840186666666},
                          :rects ({:x1 191.515625,
                                   :y1 579.8125,
                                   :x2 945.322021484375,
                                   :y2 601.8125,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 605.125,
                                   :x2 448.364501953125,
                                   :y2 627.125,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}),
                          :page 22},
               :content {:text "If we are going to say that a given program thinks like a human, we must have some way of determining how humans think"},
               :properties {:color "red"}}
              {:id #uuid "66086836-2bb6-43e6-abe5-c9d98326b005",
               :page 22,
               :position {:bounding {:x1 289.7143859863281,
                                     :y1 655.734375,
                                     :x2 834.1399230957031,
                                     :y2 677.734375,
                                     :width 1017.4079029333332,
                                     :height 1325.1840186666666},
                          :rects ({:x1 289.7143859863281,
                                   :y1 655.734375,
                                   :x2 834.1399230957031,
                                   :y2 677.734375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}),
                          :page 22},
               :content {:text "through psychological experiments—observing a person in action"},
               :properties {:color "blue"}}
              {:id #uuid "66086845-023f-4576-8221-6774cb163b86",
               :page 22,
               :position {:bounding {:x1 191.515625,
                                     :y1 655.734375,
                                     :x2 944.3993530273438,
                                     :y2 703.046875,
                                     :width 1017.4079029333332,
                                     :height 1325.1840186666666},
                          :rects ({:x1 845.0262451171875,
                                   :y1 655.734375,
                                   :x2 944.3993530273438,
                                   :y2 677.734375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 681.046875,
                                   :x2 562.4916381835938,
                                   :y2 703.046875,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}),
                          :page 22},
               :content {:text "and through brain imaging—observing the brain in action"},
               :properties {:color "purple"}}
              {:id #uuid "66086b24-ab9d-4617-b1ad-afe25f4c9e77",
               :page 22,
               :position {:bounding {:x1 191.515625,
                                     :y1 1110.921875,
                                     :x2 945.0755615234375,
                                     :y2 1208.859375,
                                     :width 1017.4079029333332,
                                     :height 1325.1840186666666},
                          :rects ({:x1 523.703125,
                                   :y1 1110.921875,
                                   :x2 945.0755615234375,
                                   :y2 1132.921875,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 1136.234375,
                                   :x2 943.3677368164062,
                                   :y2 1158.234375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 1161.546875,
                                   :x2 944.0339965820312,
                                   :y2 1183.546875,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 1186.859375,
                                   :x2 646.2728881835938,
                                   :y2 1208.859375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}),
                          :page 22},
               :content {:text "Modern authors separate the two kinds of claims; this distinction has allowed both AI and cognitive science to develop more rapidly. The twoﬁelds continue to fertilize each other, most notably in computer vision, which incorporates neurophysiological evidence into computational models"},
               :properties {:color "green"}}
              {:id #uuid "66086b8c-32cd-4423-b6ca-84d1bba161fe",
               :page 22,
               :position {:bounding {:x1 191.515625,
                                     :y1 630.421875,
                                     :x2 945.1497802734375,
                                     :y2 677.734375,
                                     :width 1017.4079029333332,
                                     :height 1325.1840186666666},
                          :rects ({:x1 456.6160888671875,
                                   :y1 630.421875,
                                   :x2 945.1497802734375,
                                   :y2 652.421875,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 655.734375,
                                   :x2 278.828125,
                                   :y2 677.734375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}),
                          :page 22},
               :content {:text "through introspection—trying to catch our own thoughts as they go by"},
               :properties {:color "green"}}
              {:id #uuid "66086c65-a801-427a-a8d8-d3c379f04dad",
               :page 22,
               :position {:bounding {:x1 191.515625,
                                     :y1 756.984375,
                                     :x2 945.2568359375,
                                     :y2 880.015625,
                                     :width 1017.4079029333332,
                                     :height 1325.1840186666666},
                          :rects ({:x1 717.656982421875,
                                   :y1 756.984375,
                                   :x2 944.1617431640625,
                                   :y2 778.984375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 782.296875,
                                   :x2 945.2568359375,
                                   :y2 804.296875,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 807.609375,
                                   :x2 944.3551635742188,
                                   :y2 829.609375,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 832.703125,
                                   :x2 944.5471801757812,
                                   :y2 854.703125,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}
                                  {:x1 191.515625,
                                   :y1 858.015625,
                                   :x2 414.18182373046875,
                                   :y2 880.015625,
                                   :width 1017.4079029333332,
                                   :height 1325.1840186666666}),
                          :page 22},
               :content {:text "For example, Allen Newell and Herbert Simon, who developed GPS, the “General Problem Solver” (Newell and Simon,1961), were not content merely to have their program solve problems correctly. They were more concerned with comparing the trace of its reasoning steps to traces of human subjects solving the same problems"},
               :properties {:color "yellow"}}],
 :extra {:page 22}}
