{:highlights [{:id #uuid "666deace-edc8-4a57-be9b-2c4599a16013",
               :page 1,
               :position {:bounding {:x1 621.41748046875,
                                     :y1 1043.71875,
                                     :x2 819.8768310546875,
                                     :y2 1071.71875,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 621.41748046875,
                                   :y1 1043.71875,
                                   :x2 819.8768310546875,
                                   :y2 1071.71875,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 1},
               :content {:text "transduction model"},
               :properties {:color "green"}}
              {:id #uuid "666dec85-953c-4b1d-a106-c05eeb4a512a",
               :page 2,
               :position {:bounding {:x1 920.4686279296875,
                                     :y1 759.015625,
                                     :x2 1037.390869140625,
                                     :y2 787.015625,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 920.4686279296875,
                                   :y1 759.015625,
                                   :x2 1037.390869140625,
                                   :y2 787.015625,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "eschewing "},
               :properties {:color "green"}}
              {:id #uuid "666dede9-0d2b-4236-8be7-faef4cda6071",
               :page 2,
               :position {:bounding {:x1 740.8624267578125,
                                     :y1 1148.859375,
                                     :x2 803.5125122070312,
                                     :y2 1176.859375,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 740.8624267578125,
                                   :y1 1148.859375,
                                   :x2 803.5125122070312,
                                   :y2 1176.859375,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 2},
               :content {:text "albeit "},
               :properties {:color "green"}}],
 :extra {:page 3}}
