{:highlights [{:id #uuid "6746732e-8365-4f71-988c-2569349d485a",
               :page 7,
               :position {:bounding {:x1 97.515625,
                                     :y1 126.703125,
                                     :x2 1235.499267578125,
                                     :y2 1700.78125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 693.71875,
                                   :y1 126.703125,
                                   :x2 1235.499267578125,
                                   :y2 151.703125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 693.71875,
                                   :y1 153.8125,
                                   :x2 1078.6390380859375,
                                   :y2 178.8125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 153.82754516601562,
                                   :y1 1621.5625,
                                   :x2 638.8206176757812,
                                   :y2 1646.5625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 97.515625,
                                   :y1 1648.671875,
                                   :x2 638.8709716796875,
                                   :y2 1673.671875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 97.515625,
                                   :y1 1675.78125,
                                   :x2 645.4016723632812,
                                   :y2 1700.78125,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 7},
               :content {:text "The convolution/subsampling combination, inspired by Hubel and Wiesel’s notions of “simple” and “complex” cells, was implemented in Fukushima’s Neocognitron [32], though no globally supervised learning procedure such as back propagation was available then"},
               :properties {:color "green"}}
              {:id #uuid "67467b60-b943-4d70-816e-c462bcbe7146",
               :page 6,
               :position {:bounding {:x1 693.71875,
                                     :y1 512.671875,
                                     :x2 1235.4954833984375,
                                     :y2 648.4375,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 894.576416015625,
                                   :y1 512.671875,
                                   :x2 1235.01318359375,
                                   :y2 537.671875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 693.71875,
                                   :y1 540.3125,
                                   :x2 1235.4954833984375,
                                   :y2 565.3125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 693.71875,
                                   :y1 568.140625,
                                   :x2 1235.426025390625,
                                   :y2 593.140625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 693.71875,
                                   :y1 595.796875,
                                   :x2 1234.965087890625,
                                   :y2 620.796875,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 693.71875,
                                   :y1 623.4375,
                                   :x2 1119.1668701171875,
                                   :y2 648.4375,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 6},
               :content {:text "The idea of connecting units to local receptive ﬁelds on the input goes back to the perceptron in the early 1960’s, and it was almost simultaneous with Hubel and Wiesel’s discovery of locally sensitive, orientationselective neurons in the cat’s visual system"},
               :properties {:color "green"}}],
 :extra {:page 6}}
