{:highlights [{:id #uuid "6783ca79-f385-4a53-9d7a-9e679297a7df",
               :page 1,
               :position {:bounding {:x1 72.75,
                                     :y1 623.421875,
                                     :x2 471.078125,
                                     :y2 885.71875,
                                     :width 965,
                                     :height 1250.8674304418985},
                          :rects ({:x1 101.609375,
                                   :y1 623.421875,
                                   :x2 468.2215576171875,
                                   :y2 640.421875,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.53125,
                                   :y1 642.4375,
                                   :x2 300.765625,
                                   :y2 659.4375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 311.203125,
                                   :y1 642.4375,
                                   :x2 364.84375,
                                   :y2 659.4375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 377.109375,
                                   :y1 642.4375,
                                   :x2 466.9942932128906,
                                   :y2 659.4375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.53125,
                                   :y1 661.328125,
                                   :x2 364.078125,
                                   :y2 678.328125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 374.125,
                                   :y1 661.328125,
                                   :x2 468.9262390136719,
                                   :y2 678.328125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.53125,
                                   :y1 679.953125,
                                   :x2 468.54119873046875,
                                   :y2 696.953125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.53125,
                                   :y1 698.84375,
                                   :x2 149.9375,
                                   :y2 715.84375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 160.765625,
                                   :y1 698.84375,
                                   :x2 237.84375,
                                   :y2 715.84375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 253.203125,
                                   :y1 698.84375,
                                   :x2 410.296875,
                                   :y2 715.84375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 430.1875,
                                   :y1 698.84375,
                                   :x2 465.1198425292969,
                                   :y2 715.84375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.140625,
                                   :y1 717.859375,
                                   :x2 351.625,
                                   :y2 734.859375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 363.5,
                                   :y1 717.859375,
                                   :x2 463.24493408203125,
                                   :y2 734.859375,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.53125,
                                   :y1 736.75,
                                   :x2 361.078125,
                                   :y2 753.75,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 374.515625,
                                   :y1 736.75,
                                   :x2 471.078125,
                                   :y2 753.75,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.140625,
                                   :y1 755.390625,
                                   :x2 467.7724609375,
                                   :y2 772.390625,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 72.75,
                                   :y1 774.28125,
                                   :x2 317.84375,
                                   :y2 791.28125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 327.90625,
                                   :y1 774.28125,
                                   :x2 468.5897521972656,
                                   :y2 791.28125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.140625,
                                   :y1 793.28125,
                                   :x2 460.23687744140625,
                                   :y2 810.28125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.140625,
                                   :y1 812.171875,
                                   :x2 230.703125,
                                   :y2 829.171875,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 245.578125,
                                   :y1 812.171875,
                                   :x2 378.546875,
                                   :y2 829.171875,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 390.8125,
                                   :y1 812.171875,
                                   :x2 467.0948486328125,
                                   :y2 829.171875,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.140625,
                                   :y1 831.1875,
                                   :x2 247.6875,
                                   :y2 848.1875,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 258.515625,
                                   :y1 831.1875,
                                   :x2 464.41156005859375,
                                   :y2 848.1875,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 72.75,
                                   :y1 850.078125,
                                   :x2 470.83203125,
                                   :y2 867.078125,
                                   :width 965,
                                   :height 1250.8674304418985}
                                  {:x1 73.140625,
                                   :y1 868.71875,
                                   :x2 128.5332794189453,
                                   :y2 885.71875,
                                   :width 965,
                                   :height 1250.8674304418985}),
                          :page 1},
               :content {:text "To sketch a worst case scenario, suppose that five years from now the strategic computing initiative collapses miserably as autonomous vehicles fail to roll. The fifth generation turns out not to go anywhere, and the Japanese government immediately gets out of computing. Every startup company fails. Texas Instruments and Schlumberger and all other companies lose interest. And there’s a big backlash so that you can’t get money for anything connected with AI. Everybody hurriedly changes the names of their research projects to something else. This condition, called the “AI Winter” by some, prompted someone to ask me if “nuclear winter” were the situation where funding is cut off for nuclear weapons. So that’s the worst case scenario."},
               :properties {:color "green"}}],
 :extra {:page 1}}
