{:highlights [{:id #uuid "664bf3e0-9be7-4bfe-a564-d9728c205bfd",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 745.171875,
                                     :x2 998.4377746582031,
                                     :y2 801,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 285.2377014160156,
                                   :y1 745.171875,
                                   :x2 998.4377746582031,
                                   :y2 772.171875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 774,
                                   :x2 697.2705078125,
                                   :y2 801,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "While the dialog is in English, MYCIN avoids having to understand freely written English by controlling the dialog."},
               :properties {:color "green"}}
              {:id #uuid "664bf8c3-3482-47ac-8dc2-53f40d62048b",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 1149.5625,
                                     :x2 998.3329467773438,
                                     :y2 1205.546875,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 354.15264892578125,
                                   :y1 1149.5625,
                                   :x2 998.3329467773438,
                                   :y2 1176.5625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1178.546875,
                                   :x2 367.3780822753906,
                                   :y2 1205.546875,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text " It would therefore be diﬃcult to modify MYCIN to learn from its experience."},
               :properties {:color "red"}}
              {:id #uuid "664c0192-e963-4739-9532-d542749e07b1",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 1005.09375,
                                     :x2 1004.3814697265625,
                                     :y2 1176.5625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 256.78125,
                                   :y1 1005.09375,
                                   :x2 1002.1770324707031,
                                   :y2 1034.09375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1033.921875,
                                   :x2 998.2854614257812,
                                   :y2 1060.921875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1062.921875,
                                   :x2 1004.3814697265625,
                                   :y2 1089.921875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1091.75,
                                   :x2 997.998779296875,
                                   :y2 1118.75,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1120.734375,
                                   :x2 998.4100952148438,
                                   :y2 1147.734375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1149.5625,
                                   :x2 347.4166259765625,
                                   :y2 1176.5625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "MYCIN’s ontology includes bacteria, symptoms, tests, possible sites of infection, antibiotics and treatments. Doctors, hospitals, illness and death are absent. Even patients are not really part of the ontology, although MYCIN asks for many facts about the speciﬁc patient. This is because patients aren’t values of variables, and MYCIN never compares the infections of two diﬀerent patients"},
               :properties {:color "green"}}
              {:id #uuid "664c0acb-7411-46d6-8594-bc44de09957e",
               :page 4,
               :position {:bounding {:x1 221.65625,
                                     :y1 698.90625,
                                     :x2 998.3972778320312,
                                     :y2 754.90625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 263.53411865234375,
                                   :y1 698.90625,
                                   :x2 998.3972778320312,
                                   :y2 725.90625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 727.90625,
                                   :x2 478.77740478515625,
                                   :y2 754.90625,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text " for a program to plan intelligently, it must be able to determine the eﬀects of its own actions."},
               :properties {:color "blue"}}
              {:id #uuid "664c0aea-c934-4d24-80bc-087b1b2ec8d7",
               :page 4,
               :position {:bounding {:x1 221.65625,
                                     :y1 959,
                                     :x2 998.4028930664062,
                                     :y2 1043.828125,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 493.134033203125,
                                   :y1 959,
                                   :x2 998.4028930664062,
                                   :y2 986,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 987.828125,
                                   :x2 998.2715454101562,
                                   :y2 1014.828125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1016.828125,
                                   :x2 761.5101318359375,
                                   :y2 1043.828125,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text "but MYCIN makes no prognosis of the eﬀects of the treatment. Of course, the doctors who provided the information built into MYCIN considered the eﬀects of the treatments"},
               :properties {:color "blue"}}
              {:id #uuid "664c0d5e-3cf5-42a0-8030-d79956ab6204",
               :page 4,
               :position {:bounding {:x1 221.65625,
                                     :y1 1161.28125,
                                     :x2 998.3499145507812,
                                     :y2 1246.09375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 970.9373779296875,
                                   :y1 1161.28125,
                                   :x2 998.3499145507812,
                                   :y2 1188.28125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1190.109375,
                                   :x2 997.187744140625,
                                   :y2 1217.109375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1219.09375,
                                   :x2 440.6337890625,
                                   :y2 1246.09375,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text " In other domains, expert systems and other AI programs have to make plans, but MYCIN doesn’t."},
               :properties {:color "red"}}
              {:id #uuid "6652299f-b594-4ea7-9c46-c7d0506e7eaf",
               :page 5,
               :position {:bounding {:x1 221.65625,
                                     :y1 311.78125,
                                     :x2 998.4125366210938,
                                     :y2 425.421875,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 935.682861328125,
                                   :y1 311.78125,
                                   :x2 998.4125366210938,
                                   :y2 338.78125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 340.609375,
                                   :x2 998.3492431640625,
                                   :y2 367.609375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 369.4375,
                                   :x2 781.078125,
                                   :y2 396.4375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 793.015625,
                                   :y1 369.4375,
                                   :x2 998.201904296875,
                                   :y2 396.4375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 398.421875,
                                   :x2 775.0274658203125,
                                   :y2 425.421875,
                                   :width 1224,
                                   :height 1584}),
                          :page 5},
               :content {:text "Moreover, MYCIN cannot answer a question about a hypothetical treatment, e.g.“What will happen if I give this patient penicillin?” or even “What bad things might happen if I give this patient penicillin?”."},
               :properties {:color "red"}}
              {:id #uuid "678d5a56-8f37-42a6-8cc4-6ba22906d63f",
               :page 3,
               :position {:bounding {:x1 184.71875,
                                     :y1 837.25,
                                     :x2 835.9532470703125,
                                     :y2 1003.78125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 213.984375,
                                   :y1 837.25,
                                   :x2 832.1155395507812,
                                   :y2 859.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 861.265625,
                                   :x2 831.7103271484375,
                                   :y2 883.265625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 885.421875,
                                   :x2 832.0489501953125,
                                   :y2 907.421875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 909.453125,
                                   :x2 831.9620971679688,
                                   :y2 931.453125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 933.609375,
                                   :x2 835.9532470703125,
                                   :y2 955.609375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 957.625,
                                   :x2 832.0794067382812,
                                   :y2 979.625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 981.78125,
                                   :x2 203.1149139404297,
                                   :y2 1003.78125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "An example of MYCIN not knowing its limitations can be excited by telling MYCIN that the patient has Cholerae Vibrio in his intestines. MYCIN will cheerfully recommend two weeks of tetracycline and nothing else. Presumably this would indeed kill the bacteria, but most likely the patient will be dead of cholera long before that. However, the physician will presumably know that the diarrhea has to be treated and look elsewhere for how to do it."},
               :properties {:color "green"}}
              {:id #uuid "678d5ac2-4307-471f-b055-b4e56b75fb01",
               :page 5,
               :position {:bounding {:x1 184.71875,
                                     :y1 355.71875,
                                     :x2 841.9074096679688,
                                     :y2 570.296875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 241.625,
                                   :y1 355.71875,
                                   :x2 831.9956665039062,
                                   :y2 377.71875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 379.875,
                                   :x2 832.0496215820312,
                                   :y2 401.875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 403.890625,
                                   :x2 832.1196899414062,
                                   :y2 425.890625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 427.921875,
                                   :x2 831.87744140625,
                                   :y2 449.921875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 452.078125,
                                   :x2 832.080322265625,
                                   :y2 474.078125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 476.09375,
                                   :x2 841.9074096679688,
                                   :y2 498.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 500.25,
                                   :x2 832.0167846679688,
                                   :y2 522.25,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 524.28125,
                                   :x2 832.110107421875,
                                   :y2 546.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 548.296875,
                                   :x2 788.0476684570312,
                                   :y2 570.296875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Various formalisms are used in artiﬁcial intelligence for representing facts about the eﬀects of actions and other events. However, all systems that I know about give the eﬀects of an event in a situation by describing a new situation that results from the event. This is often enough, but it doesn’t cover the important case of concurrent events and actions. For example, if a patient has cholera, while the antibiotic is killing the cholera bacteria, the damage to his intestines is causing loss of ﬂuids that are likely to be fatal. Inventing a formalism that will conveniently express people’s common sense knowledge about concurrent events is a major unsolved problem of AI."},
               :properties {:color "green"}}
              {:id #uuid "679c170b-404d-4188-b6f8-6d261811fac1",
               :page 5,
               :position {:bounding {:x1 410.42236328125,
                                     :y1 846.0625,
                                     :x2 532.275634765625,
                                     :y2 863.0625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 410.42236328125,
                                   :y1 846.0625,
                                   :x2 532.275634765625,
                                   :y2 863.0625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 5},
               :content {:text " epistemologically"},
               :properties {:color "purple"}}
              {:id #uuid "679c237b-e3d3-43a7-8478-6be0d3b54810",
               :page 2,
               :position {:bounding {:x1 184.71875,
                                     :y1 644.65625,
                                     :x2 831.9826049804688,
                                     :y2 690.6875,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 586.5035400390625,
                                   :y1 644.65625,
                                   :x2 831.9826049804688,
                                   :y2 666.65625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 184.71875,
                                   :y1 668.6875,
                                   :x2 602.3974609375,
                                   :y2 690.6875,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "It outputs sentences, but the user types only single words or standard phrases"},
               :properties {:color "blue"}}],
 :extra {:page 1}}
