{:highlights [{:id #uuid "664bf3e0-9be7-4bfe-a564-d9728c205bfd",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 745.171875,
                                     :x2 998.4377746582031,
                                     :y2 801,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 285.2377014160156,
                                   :y1 745.171875,
                                   :x2 998.4377746582031,
                                   :y2 772.171875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 774,
                                   :x2 697.2705078125,
                                   :y2 801,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "While the dialog is in English, MYCIN avoids having to understand freely written English by controlling the dialog."},
               :properties {:color "green"}}
              {:id #uuid "664bf463-bd77-473a-a2fe-82071b0eb30a",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 774,
                                     :x2 998.3040161132812,
                                     :y2 829.828125,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 710.286376953125,
                                   :y1 774,
                                   :x2 998.3040161132812,
                                   :y2 801,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 802.828125,
                                   :x2 722.82958984375,
                                   :y2 829.828125,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "t outputs sentences, but the user types only single words or standard phrases"},
               :properties {:color "blue"}}
              {:id #uuid "664bf8c3-3482-47ac-8dc2-53f40d62048b",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 1149.5625,
                                     :x2 998.3329467773438,
                                     :y2 1205.546875,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 354.15264892578125,
                                   :y1 1149.5625,
                                   :x2 998.3329467773438,
                                   :y2 1176.5625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1178.546875,
                                   :x2 367.3780822753906,
                                   :y2 1205.546875,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text " It would therefore be diﬃcult to modify MYCIN to learn from its experience."},
               :properties {:color "red"}}
              {:id #uuid "664c0192-e963-4739-9532-d542749e07b1",
               :page 2,
               :position {:bounding {:x1 221.65625,
                                     :y1 1005.09375,
                                     :x2 1004.3814697265625,
                                     :y2 1176.5625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 256.78125,
                                   :y1 1005.09375,
                                   :x2 1002.1770324707031,
                                   :y2 1034.09375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1033.921875,
                                   :x2 998.2854614257812,
                                   :y2 1060.921875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1062.921875,
                                   :x2 1004.3814697265625,
                                   :y2 1089.921875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1091.75,
                                   :x2 997.998779296875,
                                   :y2 1118.75,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1120.734375,
                                   :x2 998.4100952148438,
                                   :y2 1147.734375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1149.5625,
                                   :x2 347.4166259765625,
                                   :y2 1176.5625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "MYCIN’s ontology includes bacteria, symptoms, tests, possible sites of infection, antibiotics and treatments. Doctors, hospitals, illness and death are absent. Even patients are not really part of the ontology, although MYCIN asks for many facts about the speciﬁc patient. This is because patients aren’t values of variables, and MYCIN never compares the infections of two diﬀerent patients"},
               :properties {:color "green"}}
              {:id #uuid "664c0acb-7411-46d6-8594-bc44de09957e",
               :page 4,
               :position {:bounding {:x1 221.65625,
                                     :y1 698.90625,
                                     :x2 998.3972778320312,
                                     :y2 754.90625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 263.53411865234375,
                                   :y1 698.90625,
                                   :x2 998.3972778320312,
                                   :y2 725.90625,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 727.90625,
                                   :x2 478.77740478515625,
                                   :y2 754.90625,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text " for a program to plan intelligently, it must be able to determine the eﬀects of its own actions."},
               :properties {:color "blue"}}
              {:id #uuid "664c0aea-c934-4d24-80bc-087b1b2ec8d7",
               :page 4,
               :position {:bounding {:x1 221.65625,
                                     :y1 959,
                                     :x2 998.4028930664062,
                                     :y2 1043.828125,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 493.134033203125,
                                   :y1 959,
                                   :x2 998.4028930664062,
                                   :y2 986,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 987.828125,
                                   :x2 998.2715454101562,
                                   :y2 1014.828125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1016.828125,
                                   :x2 761.5101318359375,
                                   :y2 1043.828125,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text "but MYCIN makes no prognosis of the eﬀects of the treatment. Of course, the doctors who provided the information built into MYCIN considered the eﬀects of the treatments"},
               :properties {:color "blue"}}
              {:id #uuid "664c0d5e-3cf5-42a0-8030-d79956ab6204",
               :page 4,
               :position {:bounding {:x1 221.65625,
                                     :y1 1161.28125,
                                     :x2 998.3499145507812,
                                     :y2 1246.09375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 970.9373779296875,
                                   :y1 1161.28125,
                                   :x2 998.3499145507812,
                                   :y2 1188.28125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1190.109375,
                                   :x2 997.187744140625,
                                   :y2 1217.109375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 1219.09375,
                                   :x2 440.6337890625,
                                   :y2 1246.09375,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text " In other domains, expert systems and other AI programs have to make plans, but MYCIN doesn’t."},
               :properties {:color "red"}}
              {:id #uuid "6652299f-b594-4ea7-9c46-c7d0506e7eaf",
               :page 5,
               :position {:bounding {:x1 221.65625,
                                     :y1 311.78125,
                                     :x2 998.4125366210938,
                                     :y2 425.421875,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 935.682861328125,
                                   :y1 311.78125,
                                   :x2 998.4125366210938,
                                   :y2 338.78125,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 340.609375,
                                   :x2 998.3492431640625,
                                   :y2 367.609375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 369.4375,
                                   :x2 781.078125,
                                   :y2 396.4375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 793.015625,
                                   :y1 369.4375,
                                   :x2 998.201904296875,
                                   :y2 396.4375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 221.65625,
                                   :y1 398.421875,
                                   :x2 775.0274658203125,
                                   :y2 425.421875,
                                   :width 1224,
                                   :height 1584}),
                          :page 5},
               :content {:text "Moreover, MYCIN cannot answer a question about a hypothetical treatment, e.g.“What will happen if I give this patient penicillin?” or even “What bad things might happen if I give this patient penicillin?”."},
               :properties {:color "red"}}
              {:id #uuid "6652312a-6f9e-4211-af7b-a086fe3eddf3",
               :page 5,
               :position {:bounding {:x1 634.486083984375,
                                     :y1 1294.015625,
                                     :x2 804.0992431640625,
                                     :y2 1321.015625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 634.486083984375,
                                   :y1 1294.015625,
                                   :x2 804.0992431640625,
                                   :y2 1321.015625,
                                   :width 1224,
                                   :height 1584}),
                          :page 5},
               :content {:text "epistemologicall"},
               :properties {:color "purple"}}],
 :extra {:page 6}}
