{:highlights [{:id #uuid "6638376a-7411-4715-ad46-fda54aeac46c",
               :page 14,
               :position {:bounding {:x1 136.015625,
                                     :y1 294.75,
                                     :x2 856.3963623046875,
                                     :y2 413.015625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 136.015625,
                                   :y1 294.75,
                                   :x2 856.3375244140625,
                                   :y2 316.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 318.75,
                                   :x2 856.36572265625,
                                   :y2 340.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 342.890625,
                                   :x2 856.3963623046875,
                                   :y2 364.890625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 366.875,
                                   :x2 494.265625,
                                   :y2 388.875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 505.484375,
                                   :y1 366.875,
                                   :x2 856.2915649414062,
                                   :y2 388.875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 391.015625,
                                   :x2 210.9854736328125,
                                   :y2 413.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 14},
               :content {:text "The magazine Business Week joined the hype and published the headline “AI: It’s Here” in 1984. Similarly, many companies made extraordinary claims like: “We’ve built a better brain” and declared that “[I]t is now possible to program human knowledge and experience into a computer . . . Artiﬁcial intelligence has ﬁnally come of age.” [39"},
               :properties {:color "green"}}
              {:id #uuid "6638382c-2625-42b0-ba8c-e8c905892db7",
               :page 14,
               :position {:bounding {:x1 136.015625,
                                     :y1 567.109375,
                                     :x2 854.1834411621094,
                                     :y2 750.609375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 203.39743041992188,
                                   :y1 567.109375,
                                   :x2 854.1834411621094,
                                   :y2 589.109375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 591.09375,
                                   :x2 342.0618591308594,
                                   :y2 613.09375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 184.828125,
                                   :y1 656.34375,
                                   :x2 806.518798828125,
                                   :y2 678.34375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 184.828125,
                                   :y1 680.34375,
                                   :x2 691.890625,
                                   :y2 702.34375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 702.3125,
                                   :y1 680.34375,
                                   :x2 807.3333740234375,
                                   :y2 702.34375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 184.828125,
                                   :y1 704.46875,
                                   :x2 806.499267578125,
                                   :y2 726.46875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 184.828125,
                                   :y1 728.609375,
                                   :x2 227.13888549804688,
                                   :y2 750.609375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 14},
               :content {:text "at the 1984 AAAI conference scientists discussed if an upcoming AI winter could be prevented. [10]“This unease is due to the worry that perhaps expectations about AI are too high, and that this will eventually result in disaster. I think it is important that we take steps to make sure the AI winter doesn’t happen[...].”"},
               :properties {:color "red"}}
              {:id #uuid "66383a76-d5b4-479c-8f85-682a90d37128",
               :page 14,
               :position {:bounding {:x1 136.015625,
                                     :y1 969.8125,
                                     :x2 856.3960571289062,
                                     :y2 1039.9375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 834.49609375,
                                   :y1 969.8125,
                                   :x2 856.0263061523438,
                                   :y2 991.8125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 993.796875,
                                   :x2 856.3960571289062,
                                   :y2 1015.796875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 1017.9375,
                                   :x2 554.994140625,
                                   :y2 1039.9375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 14},
               :content {:text " In1984, John McCarthy criticized expert systems because they lacked common sense and knowledge about their own limitations [40]"},
               :properties {:color "red"}}
              {:id #uuid "66383aa8-f602-4d43-9005-a6a6cde135a8",
               :page 15,
               :position {:bounding {:x1 136.015625,
                                     :y1 246.484375,
                                     :x2 925.467529296875,
                                     :y2 364.890625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 136.015625,
                                   :y1 246.484375,
                                   :x2 925.467529296875,
                                   :y2 268.484375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 270.625,
                                   :x2 854.9901733398438,
                                   :y2 292.625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 294.75,
                                   :x2 856.3897705078125,
                                   :y2 316.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 318.75,
                                   :x2 856.0471801757812,
                                   :y2 340.75,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 342.890625,
                                   :x2 524.518310546875,
                                   :y2 364.890625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 15},
               :content {:text "Schwarz, Director of DARPA ISTO (Defense Advanced Research Projects Agency/Information Science and Technology Oﬃce) from 1987 to 1989 concluded that AI research has always had “... very limited success in particular areas, followed immediately by failure to reach the broader goal at which these initial successes seem at ﬁrst to hint...”. This led to a decrease in funding in AI research [2]"},
               :properties {:color "green"}}
              {:id #uuid "66383add-6401-4e39-ad7e-ad44a8da3402",
               :page 15,
               :position {:bounding {:x1 136.015625,
                                     :y1 386.375,
                                     :x2 856.1293334960938,
                                     :y2 504.78125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 136.015625,
                                   :y1 386.375,
                                   :x2 856.0744018554688,
                                   :y2 408.375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 410.515625,
                                   :x2 855.0835571289062,
                                   :y2 432.515625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 434.65625,
                                   :x2 856.1293334960938,
                                   :y2 456.65625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 458.640625,
                                   :x2 855.3087158203125,
                                   :y2 480.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 482.78125,
                                   :x2 511.8145751953125,
                                   :y2 504.78125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 15},
               :content {:text "The general interest in AI declined as the expectations could not be met. At this time, many AI companies closed their doors. The AAAI conference that attracted over 6000 visitors in 1986 quickly decreased to just 2000 by 1991 [42]. Similarly, a decrease in AI-related articles starting in 1987 and reaching its lowest point in 1995 can be observed in The New York Times[43"},
               :properties {:color "blue"}}
              {:id #uuid "66383f47-1be3-4331-b764-cdf30aa14a4e",
               :page 17,
               :position {:bounding {:x1 136.015625,
                                     :y1 612.5625,
                                     :x2 856.3909301757812,
                                     :y2 682.703125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 136.015625,
                                   :y1 612.5625,
                                   :x2 856.3909301757812,
                                   :y2 634.5625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 636.703125,
                                   :x2 856.390869140625,
                                   :y2 658.703125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 660.703125,
                                   :x2 256.9776611328125,
                                   :y2 682.703125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 17},
               :content {:text "First, a recurring pattern that can be observed are that promises that kindled initial excitement, but which later turned out to be inﬂated have been the leading cause for the AI winters."},
               :properties {:color "blue"}}
              {:id #uuid "6638451c-3848-42dc-a358-70700c4c2cd2",
               :page 20,
               :position {:bounding {:x1 136.015625,
                                     :y1 974.15625,
                                     :x2 856.3905029296875,
                                     :y2 1092.40625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 359.5718994140625,
                                   :y1 974.15625,
                                   :x2 855.3260498046875,
                                   :y2 996.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 998.15625,
                                   :x2 856.3905029296875,
                                   :y2 1020.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 1022.28125,
                                   :x2 856.0294189453125,
                                   :y2 1044.28125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 1046.28125,
                                   :x2 855.275634765625,
                                   :y2 1068.28125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 1070.40625,
                                   :x2 510.57177734375,
                                   :y2 1092.40625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 20},
               :content {:text "Sentiment analysis in media articles shows that AI-related articles became 1.5 times more positive from 2016 to 2018. Especially in the period from January 2016 to July 2016, the sentiment shifted [1]. This improvement could be correlated with the public release of Alpha Go in January 2016, and its victory against world champion Lee Sedol in March"},
               :properties {:color "purple"}}
              {:id #uuid "6638452f-366f-406b-81a4-fdfb10013e50",
               :page 19,
               :position {:bounding {:x1 136.015625,
                                     :y1 1069.015625,
                                     :x2 856.3877563476562,
                                     :y2 1139.140625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 136.015625,
                                   :y1 1069.015625,
                                   :x2 855.3192749023438,
                                   :y2 1091.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 1093,
                                   :x2 856.3877563476562,
                                   :y2 1115,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 136.015625,
                                   :y1 1117.140625,
                                   :x2 234.92843627929688,
                                   :y2 1139.140625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 19},
               :content {:text "A tool often used when looking at hype is Gartner’s Hype Cycle [68]. It has practical applications that let us make predictions easily, but its validity is not scientiﬁcally established."},
               :properties {:color "blue"}}],
 :extra {:page 15}}
