{:highlights [{:id #uuid "672d6841-4710-4d2e-9848-600af95858d2",
               :page 237,
               :position {:bounding {:x1 179.90625,
                                     :y1 1336.890625,
                                     :x2 909.7005004882812,
                                     :y2 1409.453125,
                                     :width 1094.3999999999999,
                                     :height 1641.6},
                          :rects ({:x1 778.404296875,
                                   :y1 1336.890625,
                                   :x2 909.687744140625,
                                   :y2 1358.890625,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 179.90625,
                                   :y1 1362.171875,
                                   :x2 908.5842895507812,
                                   :y2 1384.171875,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 179.90625,
                                   :y1 1387.453125,
                                   :x2 909.7005004882812,
                                   :y2 1409.453125,
                                   :width 1094.3999999999999,
                                   :height 1641.6}),
                          :page 237},
               :content {:text "expert systems became the rage in AI research in the late 1970s and early 1980s and a commercial tool in the 1980s, when corporations were seeking to embody the knowledge of their"},
               :properties {:color "green"}}
              {:id #uuid "672d6852-4a8b-4c8e-b707-feada59635b2",
               :page 238,
               :position {:bounding {:x1 182.421875,
                                     :y1 207.140625,
                                     :x2 772.6453857421875,
                                     :y2 229.140625,
                                     :width 1094.3999999999999,
                                     :height 1641.6},
                          :rects ({:x1 182.421875,
                                   :y1 207.140625,
                                   :x2 772.6453857421875,
                                   :y2 229.140625,
                                   :width 1094.3999999999999,
                                   :height 1641.6}),
                          :page 238},
               :content {:text "skilled employees who were facing either retirement or downsizing "},
               :properties {:color "green"}}
              {:id #uuid "672d68c7-7641-4040-b428-9237f2b44f2d",
               :page 238,
               :position {:bounding {:x1 182.421875,
                                     :y1 713.734375,
                                     :x2 912.1922607421875,
                                     :y2 786.296875,
                                     :width 1094.3999999999999,
                                     :height 1641.6},
                          :rects ({:x1 212.734375,
                                   :y1 713.734375,
                                   :x2 912.0930786132812,
                                   :y2 735.734375,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 739.015625,
                                   :x2 912.1922607421875,
                                   :y2 761.015625,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 764.296875,
                                   :x2 279.234375,
                                   :y2 786.296875,
                                   :width 1094.3999999999999,
                                   :height 1641.6}),
                          :page 238},
               :content {:text "Many corporations committed substantial capital and human resources to the development of expert systems, and many reported substantial returns on these investments. "},
               :properties {:color "green"}}
              {:id #uuid "672d68de-fd1f-43c3-b897-dca5129c30bf",
               :page 238,
               :position {:bounding {:x1 182.421875,
                                     :y1 764.296875,
                                     :x2 912.1734008789062,
                                     :y2 836.859375,
                                     :width 1094.3999999999999,
                                     :height 1641.6},
                          :rects ({:x1 290.65625,
                                   :y1 764.296875,
                                   :x2 911.0076293945312,
                                   :y2 786.296875,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 789.75,
                                   :x2 912.1734008789062,
                                   :y2 811.75,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 814.859375,
                                   :x2 836.0558471679688,
                                   :y2 836.859375,
                                   :width 1094.3999999999999,
                                   :height 1641.6}),
                          :page 238},
               :content {:text "Others found that, as AI pioneer McCarthy (1990) had argued, these expert systems were extremely “brittle” in that a small development in knowledge or change in practice rendered such programs obsolete or too narrow to use"},
               :properties {:color "red"}}
              {:id #uuid "672d6a2a-253b-421d-a981-7f5b8c2dab18",
               :page 238,
               :position {:bounding {:x1 182.421875,
                                     :y1 814.859375,
                                     :x2 912.2369995117188,
                                     :y2 1064.875,
                                     :width 1094.3999999999999,
                                     :height 1641.6},
                          :rects ({:x1 855.59375,
                                   :y1 814.859375,
                                   :x2 912.175537109375,
                                   :y2 836.859375,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 840.3125,
                                   :x2 909.623291015625,
                                   :y2 862.3125,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 865.75,
                                   :x2 911.0891723632812,
                                   :y2 887.75,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 890.875,
                                   :x2 912.154052734375,
                                   :y2 912.875,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 916.3125,
                                   :x2 912.1417236328125,
                                   :y2 938.3125,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 941.765625,
                                   :x2 912.186279296875,
                                   :y2 963.765625,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 966.875,
                                   :x2 912.2191772460938,
                                   :y2 988.875,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 992.328125,
                                   :x2 912.1427001953125,
                                   :y2 1014.328125,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 1017.59375,
                                   :x2 912.2369995117188,
                                   :y2 1039.59375,
                                   :width 1094.3999999999999,
                                   :height 1641.6}
                                  {:x1 182.421875,
                                   :y1 1042.875,
                                   :x2 912.026611328125,
                                   :y2 1064.875,
                                   :width 1094.3999999999999,
                                   :height 1641.6}),
                          :page 238},
               :content {:text "In one study of AI (Office of Technology Assessment, 1985), expert systems were singled out as evidence of “the first real commercial products of about 25 years of AI research” but were also criticized for “several serious weaknesses” that demanded“fundamental breakthroughs” to overcome. But expert systems represented a failure to meet expectations as much as a failure of technology. They provided valuable help for users who understand the limitations of a system that embodied narrow domains of knowledge. One of the biggest problems with expert systems was the term itself, which implied a certain level of capability; a number of users started calling them knowledge-based systems to refer to the technology instead of the goal."},
               :properties {:color "green"}}
              {:id #uuid "67301409-fcdc-4678-8eb7-50cc47ce43c8",
               :page 237,
               :position {:bounding {:x1 118.359375,
                                     :y1 479.15625,
                                     :x2 598.4776611328125,
                                     :y2 544.171875,
                                     :width 719.9999999999999,
                                     :height 1080},
                          :rects ({:x1 388.19091796875,
                                   :y1 479.15625,
                                   :x2 597.2769775390625,
                                   :y2 494.15625,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 118.359375,
                                   :y1 495.90625,
                                   :x2 598.4776611328125,
                                   :y2 510.90625,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 118.359375,
                                   :y1 512.53125,
                                   :x2 598.46728515625,
                                   :y2 527.53125,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 118.359375,
                                   :y1 529.171875,
                                   :x2 143.76272583007812,
                                   :y2 544.171875,
                                   :width 719.9999999999999,
                                   :height 1080}),
                          :page 237},
               :content {:text "DENDRAL used a set of knowledgeor rule-based reasoning commands to deduce the likely molecular structure of organic chemical compounds from known chemical analyses and mass spectrometry data"},
               :properties {:color "blue"}}],
 :extra {:page 238}}
