{:highlights [{:id #uuid "6601d626-dd6a-41c8-8c62-64f660d236f9",
               :page 9,
               :position {:bounding {:x1 616.734375,
                                     :y1 681.625,
                                     :x2 1075.0582275390625,
                                     :y2 796.203125,
                                     :width 1194.56,
                                     :height 1570},
                          :rects ({:x1 748.2388916015625,
                                   :y1 681.625,
                                   :x2 1073.8779296875,
                                   :y2 702.625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 705.171875,
                                   :x2 1073.9940185546875,
                                   :y2 726.171875,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 728.578125,
                                   :x2 1075.0582275390625,
                                   :y2 749.578125,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 751.65625,
                                   :x2 731.984375,
                                   :y2 772.65625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 742.046875,
                                   :y1 751.65625,
                                   :x2 1073.7110595703125,
                                   :y2 772.65625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 775.203125,
                                   :x2 687.4193115234375,
                                   :y2 796.203125,
                                   :width 1194.56,
                                   :height 1570}),
                          :page 9},
               :content {:text "One of the largest and long-standing difficulties in designing a pattern-recognizing machine has been the problem how to cope with the shift in position and the distortion in shape of the input patterns."},
               :properties {:color "green"}}
              {:id #uuid "6601ec1d-6764-4aa8-8b8b-85436638facd",
               :page 2,
               :position {:bounding {:x1 118.484375,
                                     :y1 1274.40625,
                                     :x2 577.3164672851562,
                                     :y2 1390.609375,
                                     :width 1194.56,
                                     :height 1570},
                          :rects ({:x1 553.7089233398438,
                                   :y1 1274.40625,
                                   :x2 575.25146484375,
                                   :y2 1296.40625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 119.09375,
                                   :y1 1297.953125,
                                   :x2 575.8763427734375,
                                   :y2 1319.953125,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 119.09375,
                                   :y1 1321.5,
                                   :x2 575.8843994140625,
                                   :y2 1343.5,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 119.09375,
                                   :y1 1345.046875,
                                   :x2 577.3164672851562,
                                   :y2 1367.046875,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 118.484375,
                                   :y1 1368.609375,
                                   :x2 212.51368713378906,
                                   :y2 1390.609375,
                                   :width 1194.56,
                                   :height 1570}),
                          :page 2},
               :content {:text " In the extended hierarchy model, the cells in the highest stage are supposed to respond only to specific stimulus patterns without affected by the position or the size of the stimuli."},
               :properties {:color "green"}}],
 :extra {:page 2}}
