{:highlights [{:id #uuid "6601d626-dd6a-41c8-8c62-64f660d236f9",
               :page 9,
               :position {:bounding {:x1 616.734375,
                                     :y1 681.625,
                                     :x2 1075.0582275390625,
                                     :y2 796.203125,
                                     :width 1194.56,
                                     :height 1570},
                          :rects ({:x1 748.2388916015625,
                                   :y1 681.625,
                                   :x2 1073.8779296875,
                                   :y2 702.625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 705.171875,
                                   :x2 1073.9940185546875,
                                   :y2 726.171875,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 728.578125,
                                   :x2 1075.0582275390625,
                                   :y2 749.578125,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 751.65625,
                                   :x2 731.984375,
                                   :y2 772.65625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 742.046875,
                                   :y1 751.65625,
                                   :x2 1073.7110595703125,
                                   :y2 772.65625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 616.734375,
                                   :y1 775.203125,
                                   :x2 687.4193115234375,
                                   :y2 796.203125,
                                   :width 1194.56,
                                   :height 1570}),
                          :page 9},
               :content {:text "One of the largest and long-standing difficulties in designing a pattern-recognizing machine has been the problem how to cope with the shift in position and the distortion in shape of the input patterns."},
               :properties {:color "green"}}
              {:id #uuid "6601ec1d-6764-4aa8-8b8b-85436638facd",
               :page 2,
               :position {:bounding {:x1 118.484375,
                                     :y1 1274.40625,
                                     :x2 577.3164672851562,
                                     :y2 1390.609375,
                                     :width 1194.56,
                                     :height 1570},
                          :rects ({:x1 553.7089233398438,
                                   :y1 1274.40625,
                                   :x2 575.25146484375,
                                   :y2 1296.40625,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 119.09375,
                                   :y1 1297.953125,
                                   :x2 575.8763427734375,
                                   :y2 1319.953125,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 119.09375,
                                   :y1 1321.5,
                                   :x2 575.8843994140625,
                                   :y2 1343.5,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 119.09375,
                                   :y1 1345.046875,
                                   :x2 577.3164672851562,
                                   :y2 1367.046875,
                                   :width 1194.56,
                                   :height 1570}
                                  {:x1 118.484375,
                                   :y1 1368.609375,
                                   :x2 212.51368713378906,
                                   :y2 1390.609375,
                                   :width 1194.56,
                                   :height 1570}),
                          :page 2},
               :content {:text " In the extended hierarchy model, the cells in the highest stage are supposed to respond only to specific stimulus patterns without affected by the position or the size of the stimuli."},
               :properties {:color "green"}}
              {:id #uuid "674cb70b-a7f4-47c3-8100-55d39d87c31b",
               :page 9,
               :position {:bounding {:x1 514.34375,
                                     :y1 645.828125,
                                     :x2 895.0877075195312,
                                     :y2 682.0625,
                                     :width 995.4666666666666,
                                     :height 1308.3333333333333},
                          :rects ({:x1 584.828125,
                                   :y1 645.828125,
                                   :x2 895.0877075195312,
                                   :y2 662.828125,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 514.34375,
                                   :y1 665.0625,
                                   :x2 796.697509765625,
                                   :y2 682.0625,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}),
                          :page 9},
               :content {:text "The neocognitron proposed in this paper gives a drastic solution to this difficulty."},
               :properties {:color "purple"}}
              {:id #uuid "674e5510-06d0-4af1-ba71-1c8e97c7ed71",
               :page 6,
               :position {:bounding {:x1 101.625,
                                     :y1 1180.28125,
                                     :x2 480.40240478515625,
                                     :y2 1217.171875,
                                     :width 995.4666666666666,
                                     :height 1308.3333333333333},
                          :rects ({:x1 124.828125,
                                   :y1 1180.28125,
                                   :x2 480.40240478515625,
                                   :y2 1197.28125,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 101.625,
                                   :y1 1200.171875,
                                   :x2 479.913818359375,
                                   :y2 1217.171875,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}),
                          :page 6},
               :content {:text "Here, if pattern \"A\" is presented to the input layer U o, the cells in the network yield outputs as shown in"},
               :properties {:color "green"}}
              {:id #uuid "674e551d-5100-41a8-a1f7-81b3c96521e4",
               :page 6,
               :position {:bounding {:x1 513.546875,
                                     :y1 724.203125,
                                     :x2 898.009521484375,
                                     :y2 863.65625,
                                     :width 995.4666666666666,
                                     :height 1308.3333333333333},
                          :rects ({:x1 870.015625,
                                   :y1 724.203125,
                                   :x2 898.009521484375,
                                   :y2 746.203125,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 514.34375,
                                   :y1 727.859375,
                                   :x2 865.40625,
                                   :y2 744.859375,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 513.9375,
                                   :y1 747.484375,
                                   :x2 893.9620361328125,
                                   :y2 764.484375,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 513.9375,
                                   :y1 766.984375,
                                   :x2 892.9122314453125,
                                   :y2 783.984375,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 514.34375,
                                   :y1 787,
                                   :x2 895.9761962890625,
                                   :y2 804,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 513.546875,
                                   :y1 807.015625,
                                   :x2 893.6353759765625,
                                   :y2 824.015625,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 513.546875,
                                   :y1 826.640625,
                                   :x2 895.2113037109375,
                                   :y2 843.640625,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}
                                  {:x1 513.546875,
                                   :y1 846.65625,
                                   :x2 552.2740478515625,
                                   :y2 863.65625,
                                   :width 995.4666666666666,
                                   :height 1308.3333333333333}),
                          :page 6},
               :content {:text "Fig. 5. For instance, S-plane with k 1 = 1 in layer Us1 consists of a two-dimensional array of S-cells which extract A-shaped features. Since the stimulus pattern\"A\" contains A-shaped feature at the top, an S-cell near the top of this S-plane yields a large output as shown in the enlarged illustration in the lower part of Fig. 5"},
               :properties {:color "green"}}],
 :extra {:page 3}}
