{:highlights [{:id #uuid "67aa084d-2aab-4872-b372-cab06bd6a214",
               :page 12,
               :position {:bounding {:x1 107.546875,
                                     :y1 617.5625,
                                     :x2 471.4468994140625,
                                     :y2 714.28125,
                                     :width 944.315,
                                     :height 1289.9533333333331},
                          :rects ({:x1 342.1204833984375,
                                   :y1 617.5625,
                                   :x2 471.4468994140625,
                                   :y2 634.5625,
                                   :width 944.315,
                                   :height 1289.9533333333331}
                                  {:x1 107.546875,
                                   :y1 637.421875,
                                   :x2 471.4183349609375,
                                   :y2 654.421875,
                                   :width 944.315,
                                   :height 1289.9533333333331}
                                  {:x1 107.546875,
                                   :y1 657.421875,
                                   :x2 471.4102783203125,
                                   :y2 674.421875,
                                   :width 944.315,
                                   :height 1289.9533333333331}
                                  {:x1 107.546875,
                                   :y1 677.28125,
                                   :x2 471.3427734375,
                                   :y2 694.28125,
                                   :width 944.315,
                                   :height 1289.9533333333331}
                                  {:x1 107.546875,
                                   :y1 697.28125,
                                   :x2 350.9229736328125,
                                   :y2 714.28125,
                                   :width 944.315,
                                   :height 1289.9533333333331}),
                          :page 12},
               :content {:text "In essence, it never provided what the Early Majority companies wanted: Solid proof that the technology could reliably deliver applications that would provide bottom-line returns on investment at a reasonable cost. "},
               :properties {:color "green"}}
              {:id #uuid "67aa0858-6b6e-4b6d-a673-c732d63ba759",
               :page 12,
               :position {:bounding {:x1 501.046875,
                                     :y1 229.796875,
                                     :x2 864.6463623046875,
                                     :y2 266.796875,
                                     :width 944.315,
                                     :height 1289.9533333333331},
                          :rects ({:x1 631.8067626953125,
                                   :y1 229.796875,
                                   :x2 864.6463623046875,
                                   :y2 246.796875,
                                   :width 944.315,
                                   :height 1289.9533333333331}
                                  {:x1 501.046875,
                                   :y1 249.796875,
                                   :x2 801.5390014648438,
                                   :y2 266.796875,
                                   :width 944.315,
                                   :height 1289.9533333333331}),
                          :page 12},
               :content {:text "the applications were too inﬂexible, and the cost of maintenance was unacceptable"},
               :properties {:color "green"}}
              {:id #uuid "67aa0867-789b-46ed-9c25-93ef9b0d7bd5",
               :page 12,
               :position {:bounding {:x1 501.046875,
                                     :y1 329.515625,
                                     :x2 864.9007568359375,
                                     :y2 366.375,
                                     :width 944.315,
                                     :height 1289.9533333333331},
                          :rects ({:x1 501.046875,
                                   :y1 329.515625,
                                   :x2 864.9007568359375,
                                   :y2 346.515625,
                                   :width 944.315,
                                   :height 1289.9533333333331}
                                  {:x1 501.046875,
                                   :y1 349.375,
                                   :x2 777.138916015625,
                                   :y2 366.375,
                                   :width 944.315,
                                   :height 1289.9533333333331}),
                          :page 12},
               :content {:text "The real problem was the cost and time involved in the development of the applications"},
               :properties {:color "green"}}],
 :extra {:page 1}}
